<script src="/js/notesCard.script.js"></script>

<br>

<div id="rating-view-user" >
{{#if isMyNote}}
{{isMyNote}}
<h4>Hue: {{this.hue}} Hue is note saving</h4>
<h4>Smell: {{this.smell}} </h4>
<h4>Taste: {{this.taste}} </h4>
{{/if}}
</div>

<div id="rating-view-all" >
{{#unless isMyNote}}
{{isMyNote}}
<h4>Hue: {{this.hue}} Hue is note saving </h4>
<h4>Smell: {{this.smell}} </h4>
<h4>Taste: {{this.taste}} </h4>
{{/unless}}
</div>

<br>