{{!-- <a href="/one-single-wine/{{id}}"> --}}
  <div class="wine-card">
    <h2>
      {{this.wine}} | id: {{this.wine_id}}
    </h2>
      <div class="scrolly">
        <h6>{{this.country}}</h6>
        <p>{{this.appellation}}</p>
        <p>{{this.color}}</p>
        <p>{{this.vintage}}</p>
    </div>
  </div>
{{!-- </a> --}}

{{!-- 
            "wine": "Chappellet, Cabernet Sauvignon, Napa Valley",
            "wine_id": 31602,
            "wine_slug": "chappellet-cabernet-sauvignon-napa-valley",
            "appellation": "Napa Valley",
            "appellation_slug": "napa-valley",
            "color": "Red",
            "wine_type": "",
            "regions": [
                "California"
            ],
            "country": "Usa",
            "classification": null,
            "vintage": "1973",
            "date": "2021-03-29",
            "is_primeurs": false,
            "score": 85.8,
            "confidence_index": "C",
            "journalist_count": 3,
            "lwin": null,
            "lwin_11": null --}}