{{!-- <a href="/one-single-wine/{{id}}"> --}}
  <div id="wine-card">
    <div>

      <div>
         <h1 class="vintage-title">{{this.vintage}}</h1>
    
        <h2>
          {{this.wine}}
          {{this.country}}
        </h2>
      </div>

      <div id="title-block">
        {{!-- <h2>"{{this.wine}}"</h2>
        <h3>"{{this.country}}"</h3> --}}
        <h3>Appellation: {{this.appellation}}</h3>
       
      </div>

      <div id="wine-score">
        <h2>{{this.color}}</h2>
        <h2>{{this.score}}</h2>
        <h2>{{this.writeUp}}</h2>
      </div>

      <div id="wine-details">
        <form action="/journal" method="post">
          <input type="hidden" name="wine_id" value="{{this.wine_id}}" />
          <input type="hidden" name="wine" value="{{this.wine}}" />
          <input type="hidden" name="vintage" value="{{this.vintage}}" />
          <input type="hidden" name="appellation" value="{{this.appellation}}" />
          <input type="hidden" name="color" value="{{this.color}}" />
          <input type="hidden" name="regions" value="{{this.regions}}" />
          <input type="hidden" name="country" value="{{this.country}}" />
          <input type="hidden" name="score" value={{this.score}} />
          <input type="hidden" name="writeUp" value="{{this.writeUp}}" />
          {{#unless journalFromDB }}
          <button type="submit" class="button">Add To My Collection</button>
          {{/unless}}
        </form>
      </div>
    </div>
  </div>