<div class="journal-edit">
  <h2>
    {{this.wine}} | {{this.country}}
  </h2>
  <div class="scrolly">
    {{!-- <h6>{{this.country}}</h6> --}}
    <p>Appellation: {{this.appellation}}</p>
    {{!-- <p>{{this.color}}</p> --}}
    <p>Vintage: {{this.vintage}}</p>
    <p>Critic Score: {{this.score}}</p>

  </div>


  {{!-- <ul>
    <li>"{{wine_id}}"</li>
    <li>"{{wine}}"</li>
    <li>"{{vintage}}"</li>
    <li>"{{appellation}}"</li>
    <li>"{{color}}"</li>
    <li>"{{regions}}"</li>
    <li>"{{country}}"</li>
    <li>"{{score}}"</li>
    <li>"{{myScore}}"</li>
  </ul> --}}

  <form action="/journal/{{_id}}/edit" method="post">


    <h2>Hue</h2>
    <input type="radio" id="hue-1" name="purple" value="purple">
    <label for="hue-1">Purple</label>
    <input type="radio" id="hue-2" name="ruby" value="ruby">
    <label for="hue-2">Ruby</label>
    <input type="radio" id="hue-3" name="garnet" value="garnet">
    <label for="hue-3">Garnet</label>
    <input type="radio" id="hue-4" name="tawny" value="tawny">
    <label for="hue-4">Tawny</label>
    <input type="radio" id="hue-5" name="brown" value="brown">
    <label for="hue-5">Brown</label>
    <br>
    <br>
    <h2>Smell</h2> (describe fruit, herb, spice, oak, earth, and other aromas)
    <br>
    <input type="text" name="writeUp" value="{{writeUp}}" />

    <h2>Taste</h2> (describe taste, texture, astringency, finish, length, and complexity)
    <br>
    <input type="text" name="taste" value="{{taste}}" />
    <br>
    <h2>Rate this Wine!</h2>
    <input type="text" name="myScore" value="{{myScore}}" />
    <button type="submit">Submit</button>
  </form>

  <form action="/journal/{{this._id}}/delete" method="post">
    <button type="submit">Delete Wine</button>
  </form>