<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="journal-edit">
  <h2>
    {{wineInfoFromDB.wine}} | {{wineInfoFromDB.country}}
  </h2>

  <div class="scrolly">
    <p>Appellation: {{wineInfoFromDB.appellation}}</p>
    <p>Vintage: {{wineInfoFromDB.vintage}}</p>
    <p>Critic Score: {{wineInfoFromDB.score}}</p>
  </div>

  <hr>

  <form action="/journal/{{wineInfoFromDB._id}}/edit" method="post">
    <h2>Hue</h2>
    <input type="radio" id="hue-1" name="purple" value="purple">
    <label for="hue-1">Purple</label>
    <input type="radio" id="hue-2" name="ruby" value="ruby">
    <label for="hue-2">Ruby</label>
    <input type="radio" id="hue-3" name="garnet" value="garnet">
    <label for="hue-3">Garnet</label>
    <input type="radio" id="hue-4" name="tawny" value="tawny">
    <label for="hue-4">Tawny</label>
    <input type="radio" id="hue-5" name="brown" value="brown">
    <label for="hue-5">Brown</label>
     Hue is not saving for some reason!!
    <br>

    <br>
    <h2>Smell</h2> (describe fruit, herb, spice, oak, earth, and other aromas)
    <br>
    <input type="text" name="smell" id="writeUp" value="{{this.smell}}" />

    <h2>Taste</h2> (describe taste, texture, astringency, finish, length, and complexity)
    <br>
    <input type="text" name="taste" id="taste" value="{{this.taste}}" />
    <br> 
    <button type="submit">Save Notes</button>
  </form>
  <br>

  <form action="/journal/{{_id}}/rating" method="post">
    <ul class="rating-form">
      <li class="rating">
        <label for="1">1</label>
        <input type="radio" name="rating" value="1" />
        <label for="2">2</label>
        <input type="radio" name="rating" value="2" />
        <label for="3">3</label>
        <input type="radio" name="rating" value="3" />
        <label for="4">4</label>
        <input type="radio" name="rating" value="4" />
        <label for="5">5</label>
        <input type="radio" name="rating" value="5" />
    </ul>
    <button type="submit">Rate this Wine</button>
  </form>

  <br>
  <form action="/journal/{{_id}}/delete" method="post">
    <button type="submit">Delete Wine</button>
  </form>
   
<h2>My Previouys Notes For This Wine</h2>
<h4>Count of notes: {{ wineInfoFromDB.notes.length }}</h4>
<div id="rating-view">
  {{#each wineInfoFromDB.notes}}
  {{> notesCard this}}
  {{/each}}
</div>
  